<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="appConn1" connectionString="Data Source=dardhari;Initial Catalog=DB_APP;User id=sa;Password=dardhari.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConn2" connectionString="Data Source=KKORCARI\SQL2008EXPRESS;Initial Catalog=DB_APP;User id=sa;Password=kkorcari.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConn3" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DB_APP;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\DB_APP.mdf" providerName="System.Data.SqlClient" />
    <add name="appConn4" connectionString="Data Source=LAPTOP-ETT242NJ\SQLEXPRESS;Initial Catalog=DB_APP;User id=sa;Password=zyra.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConn5" connectionString="Data Source=LAPTOP-ETT242NJ\SQLEXPRESS;Initial Catalog=DB_APP;User id=sa;Password=zyra.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConn7" connectionString="Data Source=kgj-pc;Initial Catalog=DB_APP;User id=sa;Password=kgj-pc.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConns" connectionString="Data Source=dardhari;Initial Catalog=AB2C;User id=sa;Password=dardhari.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConnB2Bs" connectionString="Data Source=dardhari;Initial Catalog=AgnaG20P3001;User id=sa;Password=dardhari.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConnStockTrs" connectionString="Data Source=dardhari;Initial Catalog=AgnaG20P3001;User id=sa;Password=dardhari.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConn" connectionString="Data Source=KKORCARI\SQL2008EXPRESS;Initial Catalog=AB2C;User id=sa;Password=kkorcari.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConnB2B" connectionString="Data Source=server-mgb;Initial Catalog=AgnaG20;User id=sa;Password=server-mgb.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="appConnStockTr" connectionString="Data Source=server-mgb;Initial Catalog=AgnaG20;User id=sa;Password=server-mgb.sa; Pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="showLog" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="currentDirectoryc" value="E:\github\GitKristiKorcari\Sido\NewApp\ProgZyraAvokat\ProgZyraAvokat\bin\Debug"/>
    <add key="currentDirectory" value="D:\githubdardhari\GitKristiKorcari\Sido\NewApp\ProgZyraAvokat\ProgZyraAvokat\bin\Debug"/>
  </appSettings>
</configuration>
