<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessageBox" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4420.1017" targetFramework="net452" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net452" />
  <package id="System.ServiceModel.Http" version="4.7.0" targetFramework="net452" />
</packages>